vim/.netrwhist
vim/.VimballRecord
vim/backup
vim/undo
vim/autoload/plug.vim
vim/plugins/*
!vim/plugins/cheat_sheet/
!vim/plugins/cheat_sheet/doc/
!vim/plugins/cheat_sheet/doc/cheat.txt
vim/plugins/cheat_sheet/doc/tags
