tags
/vim/.netrwhist
/vim/.VimballRecord
/vim/autoload/*
/vim/backup/*
/vim/plugins/*
/vim/undo/*
!vim/plugins/cheat_sheet/
!vim/plugins/cheat_sheet/doc/
!vim/plugins/cheat_sheet/doc/cheat.txt
vim/plugins/cheat_sheet/doc/tags
